
{{#extends 'index'}}

{{#block "content"}}
    <div class="main">
      <h1>EP 00: Title</h1>

          <button class="top-btns">Previous</button>
          <button class="top-btns" id="randomPg">Random</button>
          <button class="top-btns switch"><a href="03 Page template (Scroll).html">Scroll</a></button>
          <button class="top-btns">Next</button>

  
      <div class="page-nav">
        <button class="page-nav" id="prev-pg"><span class="icon-label">
          ←</span>
        </button>
  
        
  
        <button class="page-nav"  id="next-pg"><span class="icon-label">
          →</span></button>
      </div>
  

  

      <h2 class="date">Uploaded dd/mm/yy</h2>
      <h2 class="comment">Comment from creator</h2>
    </div>


  {{/block}}

{{/extends}}